<h1>Editing Attendance Record</h1>

<%= render 'form', attendancerecord: @attendancerecord %>

<%= link_to 'Show', [@event,@attendancerecord] %> |
<%= link_to 'Back', event_attendancerecords__path(@event) %>
