<h1>New Attendance Record</h1>
<%= form_tag "/attendance_records" do %>
  <% @people.each do |person| %>
    <% @people.size.times do %>
      <%= render 'form', attendance_record: @attendance_record %>
    <% end %>
    <%= submit_tag "Submit" %>
  <% end %>
<% end %>

<%= link_to 'Back', attendance_records_path %>
