
<center><h1>TAMU Women's Rugby Team</h1></center>
<%= link_to "Sign Out", destroy_admin_session_path %>
<div class="navbar">
  <div class="navbar-items">
    <h2>Navbar</h2>
    <div class="navbarLinkClass">
      <ul class="navbarLink">
        <li class="navbarLink" id="link1"><%= link_to('Players', players_path) %></li>
        <li class="navbarLink" id="link1"><%= link_to('Alumni', alumnis_path) %></li>
      </ul>
    </div>
  </div>
</div>